%table.listing
  %thead
    %tr
      %th.table-title{ colspan: '3' }
        %span#hubSorter.btn-group.pull-right
          = link_to 'Active', '#', class: 'btn active'
          = link_to 'New', '#', class: 'btn'
        Hubs
    %tr
      %th Name
      %th Most Active Proposal
      %th.count-column Votes

  %tbody
    - @hubs.each do |hub|
      %tr
        %td= link_to hub.name, hub_path(hub)
        %td
          - if hub.proposals.count > 0
            = link_to hub.proposals.order(:votes_count).first.statement, hub_proposal_path(hub, hub.proposals.order(:votes_count).first)
          - else
            %em No proposals yet
        %td.count-column
          - if hub.proposals.count > 0
            = hub.proposals.order(:votes_count).first.votes_count
          - else
            %nbsp;
