/ Saving this for future use
- if user_signed_in?
  #sidebar.span4.hide{:style => 'padding: 20px;'}
    %h2 New Hubs
    %div
      - @hubs.each do |hub|
        = link_to hub.name, hub_path(hub)
        %br

    %hr

    %h2 News from SV
    %div Blog content maybe? Definitely for marketing/service info for existing users.

    %hr

    %h2 @SpokenVote Tweets
    %div Last few tweets from the house account

- else
  #sidebar.span4
    .login_box
      .login_form
        %h3
          Sign in through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign in with SpokenVote
        = form_tag 'users/login' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          / - if devise_mapping.rememberable?
          /   = check_box_tag :remember_me
          /   = label_tag :remember_me
          %div= submit_tag "Sign in", :class => 'btn btn-primary'

    .login_box
      .login_form
        %h3
          Sign up through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign up
        %br
        = form_tag '/users' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          %div
            = label_tag :password_confirmation
            = password_field_tag :password_confirmation
          %div= submit_tag "Sign up", :class => 'btn btn-primary'
