= nested_form_for @position, :html => {:class => 'form-horizontal'} do |f|
  - if @position.errors.any?
    #error_explanation
      %h2= "#{pluralize(@position.errors.count, "error")} prohibited this position from being saved:"
      %ul
        - @position.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.hidden_field :user_id, :value => current_user.id
    .control-group
      = f.label :hub, :class => 'control-label'
      .controls
        - if @parent_position
          = @parent_position.hubs.first.name
          = hidden_field_tag :hub_id, @parent_position.hubs.first.id
        - else
          = select_tag :hub_id, options_for_select(Hub.all.map{|gb| [gb.name, gb.id] }), :class => "span4"

    - if @parent_position
      .control-group
        = f.label :parent_position_statement, :class => 'control-label'
        = @parent_position.statement
        .controls
          = f.select :parent_id, Position.all.map{ |p| [p.statement, p.id] }

    .control-group
      = f.label :statement, :class => 'control-label'
      .controls
        = f.text_field :statement, :class => 'input-xxlarge', :placeholder => @parent_position.try(:statement)

    .control-group
      = f.label :votes, 'Supporting Arguments', :class => 'control-label'
      = f.fields_for :votes, @vote do |vote_form|
        .controls
          = vote_form.text_area :comment, :class => 'input-xxlarge supporting-args'
          = vote_form.hidden_field :user_id, :value => current_user.id
          = vote_form.hidden_field :position_id, :value => @position.id

    .control-group
      .controls
        = f.submit 'Save', class: 'btn btn-primary'
