%span.position_container(data-position-id="#{position.id}")
  %h2
    = position.governing_bodies.first.name
    = position.governing_bodies.first.location

  .content_editable
    = position.statement

  .content_editable_buttons(style="display:none")
    = link_to 'Cancel', '#', :class => 'label cancel'
    = link_to 'Save this improved position', '#', :class => 'label save_statement'

  .improve_support_buttons
    = link_to 'Improve', '#', :class => 'label improve'
    = link_to 'Support', '#', 'data-function' => 'display_comment_form', 'data-position_id' => position.id, :class => 'label'

  %span= pluralize(position.votes.count, 'vote')

  %br
  %br
  %h3 Supporting Arguments
  .row.supporting_arguments
    .span12
      - position.votes[0..1].each do |vote|
        = render :partial => 'position_vote', :locals => { :vote => vote }

  .row
    .span1.offset11
      - if position.votes_count > 2
        - context = "page:#{params[:page_number].to_i}_position:#{position.id}"
        .more=link_to 'More...', position_path(:context => context)

= render :partial => 'shared/comment'

:javascript
  $(document).ready(function () {
    $('.improve').click(function (e) {
      e.preventDefault();
      $('.content_editable').attr('contenteditable', 'true');
      $('.improve_support_buttons').hide();
      $('.content_editable_buttons').show();
    });

    $('.cancel').click(function () {
      hideContentEditable();
    });

    $('.save_statement').click(function () {
      var el = $(this),
        position_id = el.closest('.position_container').data('position-id'),
        url = '/positions/' + position_id,
        new_value = $('.content_editable').text().trim();

      console.log(el);
      console.log(el.closest('.position_container'));

      $.ajax({
        url: url,
        type: 'PUT',
        dataType: 'json',
        data: {
          position: {
            statement: new_value
          }
        },
        success: function (data) {
          hideContentEditable();
        }
      });
    });

    function hideContentEditable() {
      $('.content_editable').attr('contenteditable', 'false');
      $('.content_editable_buttons').hide();
      $('.improve_support_buttons').show();
    }
  });