- if total_votes > 0
  .position_hub
    %h3= 'Hub: ' + position.governing_bodies.first.name

.position_container(data-position-id="#{position.id}")
  .main-position
    - if user_signed_in?
      .content_editable.position_statement
        = position.statement
        
      = position_title(total_votes, position.user.name)

      .content_editable_buttons(style="display:none")
        = link_to 'Cancel', '#', :class => 'label cancel'
        = link_to 'Save this improved position', '#', :class => 'label save_statement'

      .improve_support_buttons
        = link_to 'Improve', '#', :class => 'label improve'
        = link_to 'Support', '#', 'data-function' => 'display_comment_form', 'data-position_id' => position.id, :class => 'label'
    - else
      .position_statement
        = position.statement

      = position_title(total_votes, position.user.name)

    - if total_votes > 0
      %p
        %span.label.label-large.label-success
          = total_votes.to_s + ' Total Votes'

  .supporting_arguments{:class => (total_votes < 0 ? 'related_supporting' : '')}
    %h3 Supporting Arguments
    .row
      .span11
        - position.votes[0..1].each_with_index do |vote, idx|
          = render :partial => 'position_vote', :locals => { :vote => vote, :idx => idx }

      .span1
        - if position.votes_count > 2
          - context = "page:#{params[:page_number].to_i}_position:#{position.id}"
          .more=link_to 'More...', position_path(:context => context)

- if user_signed_in?
  = render :partial => 'shared/comment'