%span.position_container(data-position-id="#{position.id}")
  %h2
    = position.governing_bodies.first.name
    = position.governing_bodies.first.location

  .content_editable
    = position.statement

  .content_editable_buttons(style="display:none")
    = link_to 'Cancel', '#', :class => 'label cancel'
    = link_to 'Save this improved position', '#', :class => 'label save_statement'

  .improve_support_buttons
    = link_to 'Improve', '#', :class => 'label improve'
    = link_to 'Support', '#', 'data-function' => 'display_comment_form', 'data-position_id' => position.id, :class => 'label'

  %span= pluralize(position.votes.count, 'vote')

  %br
  %br
  %h3 Supporting Arguments
  .row.supporting_arguments
    .span12
      - position.votes[0..1].each do |vote|
        = render :partial => 'position_vote', :locals => { :vote => vote }

  .row
    .span1.offset11
      - if position.votes_count > 2
        - context = "page:#{params[:page_number].to_i}_position:#{position.id}"
        .more=link_to 'More...', position_path(:context => context)

= render :partial => 'shared/comment'