.span11
  %table#positionsListing.listing
    %thead
      %tr
        %th.table-title{ :colspan => '6' }
          = link_to 'New Position', new_position_path, :class => 'pull-right btn'
          Positions
      %tr
        %th Governing Body
        %th{ :colspan => '2'} Position
        %th Votes
        %th Rank
        %th Topic Votes

    %tbody
      - prevGB = ''
      - @positions.each do |position|
        - all_related_positions_votes_count = [position.ancestors, position.descendants, position].flatten.map(&:votes_count).sort
        %tr
          %td
            %strong= position.governing_bodies.first.name if position.governing_bodies.first.name != prevGB
          %td.position_buttons
            = link_to 'Improve', new_position_path(:parent_id => position), :class => 'btn btn-mini btn-primary'
            %br
            = link_to 'Support', '#', 'data-function' => 'display_comment_form', 'data-position_id' => position.id, :class => 'btn btn-mini btn-success'
          %td
            = link_to position.statement, position_path(position)
          %td= position.votes.count
          %td= all_related_positions_votes_count.index(position.votes_count) + 1
          %td= position.votes_in_tree
        - prevGB = position.governing_bodies.first.name

  %br
  = render :partial => 'shared/comment'
