%h1 Listing positions

%table(border=1)
  %tr
    %th Position
    %th Votes
    %th Rank
    %th Most popular related spokenvote
    %th Votes
    %th Versions
    %th Votes in Universe

  - @positions.each do |position|
    %tr
      %td= position.statement
      %td= position.votes.count
      %td
      %td
      %td
      %td
      %td
      %td= link_to 'Show', position
      %td= link_to 'Edit', edit_position_path(position)
      %td= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Position', new_position_path
