%h2
  = @position.governing_bodies.first.name
  = @position.governing_bodies.first.location

%p
  = @position.statement

=link_to 'Support', '', class: 'btn'
=link_to 'Improve', '', class: 'btn'

%span= pluralize(@position.votes.count, 'vote')

%br
%br
%h3 Supporting Arguments
.row
  .span12
    - @votes.each do |vote|
      .span2
        %p= vote.user.name || vote.user.email
      .span9
        %p= truncate(vote.comment, :length => 140, :omission => '...more')
      %hr

.row
  .span1.offset11
    - if @position.votes_count > 2
      =link_to 'More...', position_path(:page_number => params[:page_number].to_i + 1)

