%p#notice= notice

%p
  %b Statement:
  = @position.statement
%p
  %b User:
  = @position.email rescue 'No User'
%p
  %b Parent:
  = @position.statement[0..20]

%input{:type => 'button'} Respond!

%h3 Votes
- @position.votes.each do |vote|
  .votes
    .vote
      %p= vote.user.email
      %p= link_to vote.comment, vote_url(vote)
      %hr

= link_to 'Edit', edit_position_path(@position)
\|
= link_to 'Back', positions_path
