<section class="searched span11" id="homepage">
  <div id="searchResults">
    <table class="listing listing-proposals">
      <thead>
        <tr>
          <th class="table-title" colspan="5">Active Topics</th>
        </tr>
        <tr>
          <th width="42%">
            <span class="btn-group" id="hubSorter">
              <a href="/proposals.json?filter=active&bb=1" class="btn active">Active</a>
              <a href="/proposals.json?filter=new&bb=1" class="btn ">New</a>
            </span>
          </th>
          <th width="30%">Group</th>
          <th class="count-column" width="10%">Updated</th>
          <th class="count-column" width="10%">Proposals</th>
          <th class="count-column" width="8%">Votes</th>
        </tr>
      </thead>
      <tbody>
        {{#proposals}}
        <tr>
          <td><a href="/proposals/{{id}}">{{statement}}</a></td>
          <td><a href="/proposals?hub={{hub.id}}">{{hub.short_hub}}</a></td>
          <td class="count-column">{{updated_at}}</td>
          <td class="count-column">{{related_proposals_count}}</td>
          <td class="count-column">{{votes_in_tree}}</td>
        </tr>
        {{/proposals}}
      </tbody>
    </table>
    <div id="proposalNotFound">
      <div class="span7">&nbsp;</div>
      <div class="span4">
        Don't see the topic you're looking for?
        <a href="/proposals/new" id="makeProposalLink">Make it</a>
      </div>
    </div>
  </div>
</section>
