.span11
  %table.listing
    %thead
      %tr
        %th.table-title{ :colspan => '4' }
          = link_to 'New Governing Body', new_governing_body_path, :class => 'btn pull-right'
          Governing Bodies
      %tr
        %th Name
        %th Location
        %th Description
        %th

    %tbody
      - @governing_bodies.each do |governing_body|
        %tr
          %td= link_to governing_body.name, edit_governing_body_path(governing_body)
          %td= governing_body.location
          %td= governing_body.description
          %td= link_to 'Delete', governing_body, method: :delete, data: { confirm: 'Are you sure?' }
