= form_for @positions_tag do |f|
  - if @positions_tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@positions_tag.errors.count, "error")} prohibited this positions_tag from being saved:"
      %ul
        - @positions_tag.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
