#comment{:style => 'display:none;'}
  = simple_form_for Vote.new do |f|
    = hidden_field_tag 'vote[user_id]', current_user.id
    = hidden_field_tag 'vote[position_id]', ''
    = f.input :comment, placeholder: "Tell us why you agree..."
    = f.submit "Save", class: 'btn btn-primary'

:javascript
  jQuery('[data-function=display_comment_form]').click(function(e) {
    e.preventDefault();
    jQuery('#comment').slideDown(500);
    jQuery('#vote_position_id').val(jQuery(this).attr('data-position_id'));
  });