= link_to "Spoken Vote", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to('About', root_path)
  %li
    = link_to "Governing Bodies", governing_bodies_path
  %li
    = link_to "Positions", positions_path
  %li
    = link_to "Votes", votes_path

- if user_signed_in?
  %ul.nav.pull-right
    %li
      = current_user.email if current_user
    = link_to 'Log Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-danger'
- else
  %ul.nav.pull-right
    = link_to 'Sign In', new_user_session_path, :class => 'btn btn-warning'
    = link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-success'

