= link_to "Spoken Vote", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to('About', root_path)
  %li
    = link_to "Governing Bodies", governing_bodies_path
  %li
    = link_to "Positions", positions_path
  %li
    = link_to "Votes", votes_path