%header.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container
      = link_to image_tag('bluefull.png') + ' SpokenVote', root_path, class: 'brand'

      %ul#main-nav.nav
      = form_tag search_proposals_path, id: 'navbarSearch', class: 'navbar-form form-inline' do
        = hidden_field_tag :hub_filter, nil

        .input-append
          = text_field_tag 'location_filter', nil, placeholder: 'A location', class: 'input span3 gpSearchBox', 'data-value_field' => '#location_id_filter', data: { value: session[:location_filter] }
          %i#clear-location.icon-remove-circle.hide
          = hidden_field_tag :location_id_filter

          / = link_to 'fill', '#', class: 'btn', id: 'fillLocation', rel: 'popover', data: {content: 'Fill the location search with your current, detected location', trigger: 'hover', placement: 'bottom', title: 'Location Search'}
        = button_tag 'Search', class: 'btn btn-danger btn-bold'

      %ul.nav.pull-right
        %li.dropdown
          = link_to raw('Support <b class="caret"></b>'), '#', remote: true, class: 'dropdown-toggle', data: {toggle: 'dropdown'}
          %ul.dropdown-menu
            %li= link_to 'About', about_path
            %li= link_to 'Developers', dev_path
            %li= link_to 'Help', help_path
        - if current_user && user_signed_in?
          = render partial: 'shared/user_nav'
        - else
          %li
            = link_to 'Sign In', new_user_session_path, class: 'btn btn-info btn-bold'
          %li
            = link_to 'Join Us!', new_user_registration_path, class: 'btn btn-primary btn-bold'
