%header.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container

      = link_to image_tag('bluefull.png') + " Spoken Vote", root_path, :class => 'brand'
      %ul#main-nav.nav
        %li
          = link_to('About', '/about')
        %li
          = link_to "Hubs", governing_bodies_path
        %li
          = link_to "Positions", positions_path
        %li
          = link_to "Votes", votes_path
        %li#search-nav
          = form_tag 'navbar-search', :class => 'navbar-search' do
            = text_field_tag 'navsearch', nil, :placeholder => 'search SpokenVote', :class => 'search-query'

      %ul.nav.pull-right
        - if current_user && user_signed_in?
          %li.dropdown
            = link_to raw(current_user.email.split('@').first + '<b class="caret"></b>'), '#', :remote => true, :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}
            %ul.dropdown-menu
              %li
                = link_to 'Log Out', destroy_user_session_path, :method => 'delete'
        - else
          = link_to 'Sign In', new_user_session_path, :class => 'btn btn-info'
          = link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-primary'
