%table.listing.listing-proposals
  %thead
    %tr
      %th
        %span#hubSorter.btn-group
          = link_to 'Active', '#', class: "btn #{searched ? 'active': ''}"
          = link_to 'New', '#', class: 'btn'
          - if user_signed_in?
            = link_to 'My Votes', '#', class: "btn #{searched ? '': 'active'}"
      %th.count-column
        Branches
      %th.count-column
        Votes

  %tbody
    - proposals.each do |proposal|
      %tr
        %td
          .pos_statement= link_to proposal.statement, edit_proposal_path(proposal)
        %td.count-column
          = proposal.root.related_proposals.count
        %td.count-column
          = proposal.votes_count
#proposalNotFound
  .span7 &nbsp;
  .span4
    Don't see the topic you're looking for? 
    = link_to 'Make it', new_proposal_path