%table.listing.listing-proposals
  %thead
    %tr
      %th.table-title{ colspan: '6' }= @sortTitle + 'Proposals'
    %tr
      %th{ colspan: '3' }
        %span#hubSorter.btn-group
          = link_to 'Active', proposals_path(filter: 'active'), class: "btn #{searched || @sortTitle == 'Active ' ? 'active': ''}"
          = link_to 'New', proposals_path(filter: 'new'), class: "btn #{@sortTitle == 'New ' ? 'active' : ''}"
          - if user_signed_in?
            = link_to 'My Votes', proposals_path(user_id: current_user.id), class: "btn #{@sortTitle == 'My ' ? 'active': ''}"
      %th.count-column{ width: '10%'} Added
      %th.count-column{ width: '10%'} Votes
      %th.count-column{ width: '12%'} Branches

  %tbody
    - proposals.each do |proposal|
      - all_related_proposals_votes_count = [proposal.ancestors, proposal.descendants, proposal].flatten.map(&:votes_count).sort
      %tr
        %td{ colspan: '2' }= link_to proposal.statement, proposal_path(proposal)
        %td{ width: '20%'}= link_to proposal.user.username, proposals_path(user_id: proposal.user.id)
        %td.count-column= proposal.created_at.to_s(:month_day_year)
        %td.count-column= raw(proposal.votes_count.to_s + ' of ' + proposal.votes_in_tree.to_s)
        %td.count-column= proposal.root.related_proposals.count + 1
#proposalNotFound
  .span7 &nbsp;
  .span4
    Don't see the group you're looking for? 
    = link_to 'Make it', new_proposal_path
