= nested_form_for @hub, :html => {:class => 'form-horizontal'} do |f|
  - if @hub.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hub.errors.count, "error")} prohibited this hub from being saved:"
      %ul
        - @hub.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xxlarge'
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'input-xxlarge'
    .control-group
      .controls
        = f.submit 'Save', class: 'btn btn-primary'
