= nested_form_for @hub, :html => {:class => 'form-horizontal'} do |f|
  - if @hub.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hub.errors.count, "error")} prohibited this hub from being saved:"
      %ul
        - @hub.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :group, :class => 'control-label'
      .controls
        = f.text_field :group_name, :class => 'input-xxlarge', data: {location_input: '#formatted_location', location_id: '#location_id'}
    .control-group
      = f.label :location, :class => 'control-label'
      .controls
        = f.text_field :formatted_location, :class => 'input-xxlarge gpSearchBox', 'data-value_field' => '#hub_location_id', :id => 'google_places_search_text_field'
        = f.hidden_field :location_id
    .control-group
      .controls
        = f.submit 'Save', class: 'btn btn-primary'