.span11
  %h1
    Influence a group, impact the world.
    %span Voting redefined.
  #locateHub
    = form_tag '/locateHub', :html => {:class => 'form-inline'} do
      = text_field_tag 'hubSearch', nil, :placeholder => 'enter a group or location', :class => 'input-xlarge'
      = text_field_tag 'citySearch', nil, :placeholder => 'enter city', :class => 'input'
      = text_field_tag 'stateSearch', nil, :placeholder => 'enter a state', :class => 'input-small'
      = text_field_tag 'countrySearch', nil, :placeholder => 'enter a country', :class => 'input-small'
      = text_field_tag 'globalSearch', nil, :placeholder => 'search the globe', :class => 'input-small'
      %br
      = button_tag 'Go', :class => 'btn btn-success'

- if current_user && user_signed_in?
  #hpContent.span7
    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' }
            = link_to 'New Proposal', new_proposal_path, :class => 'btn btn-mini pull-right'
            My Proposals

      %tbody
        - @user_proposals.each do |proposal|
          %tr
            %td{ :width => '35%' }
              = proposal.hubs.first.name
            %td
              = items_count_badge(proposal.votes_count, 'Total Votes')
              .pos_statement= link_to proposal.statement, edit_proposal_path(proposal)

    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' } Active Proposals

      %tbody
        - @proposals.each do |proposal|
          %tr
            %td{ :width => '35%' }
              = 'In ' + proposal.hubs.first.name
              %br
              = 'By ' + proposal.user.name.to_s
            %td
              = items_count_badge(proposal.votes_count, 'Total Votes')
              .pos_statement= link_to proposal.statement, edit_proposal_path(proposal)

  #sidebar.span4{:style => 'padding: 20px;'}
    %h2 New Hubs
    %div
      - @hubs.each do |hub|
        = link_to hub.name, hub_path(hub)
        %br

    %hr

    %h2 News from SV
    %div Blog content maybe? Definitely for marketing/service info for existing users.

    %hr

    %h2 @SpokenVote Tweets
    %div Last few tweets from the house account

- else
  #hpHero.hero-unit
    %span.pull-right
      = link_to raw('<i class="icon-minus-sign"></i>'), '#', :id => 'closeHero', :class => 'close', :title => 'Click to close this message', :rel => 'tooltip', :data => {:dismiss => '#hpHero'}
    %h1.page_title Welcome to SpokenVote!
    %p
      = image_tag('bluefull.png')
      We provide a home for groups of all kinds to build consensus around their issues and questions. SpokenVote allows all participants to post new proposals and support them or create alternative versions until one version emerges as the group's choice.
      = link_to 'More...', '/about', :class => 'more'

  #hpContent.span7
    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' } Active Proposals
        %tr
          %th Submitter/Hub
          %th Statement

      %tbody
        - @proposals.each do |proposal|
          %tr
            %td
              Hub Name for this Proposal
              -#= proposal.hubs.first.name + '/'
              = proposal.user.name
            %td
              = items_count_badge(proposal.votes_count, 'Total Votes')
              .pos_statement= link_to proposal.statement, proposal_path(proposal)

    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' } Active Hubs
        %tr
          %th Hub
          %th Most Active Proposal

      %tbody
        - @hubs.each do |hub|
          %tr
            %td= link_to hub.name, hub_path(hub)
            %td
              10
              -#- if hub.proposals.count > 0
              -#  = link_to hub.proposals.order(:votes_count).first.statement, hub_proposal_path(hub, hub.proposals.order(:votes_count).first)
              -#- else
              -#  %em No proposals yet

  #sidebar.span4
    .login_box
      .login_form
        %h3
          Sign in through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign in with SpokenVote
        = form_tag 'users/login' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          / - if devise_mapping.rememberable?
          /   = check_box_tag :remember_me
          /   = label_tag :remember_me
          %div= submit_tag "Sign in", :class => 'btn btn-primary'

    .login_box
      .login_form
        %h3
          Sign up through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign up
        %br
        = form_tag '/users' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          %div
            = label_tag :password_confirmation
            = password_field_tag :password_confirmation
          %div= submit_tag "Sign up", :class => 'btn btn-primary'
