%section.span11{ class: @searched != '' ? 'searched' : 'clear' }
  .page_title
    %h1
      Influence a group, impact the world.
      %span Voting redefined.
    %h4
      Browse proposals, support one or branch your own. Participate in real decisions.
      = link_to 'More...', '/about', :class => 'more'
  
  #locateHub.span9
    = form_tag '/locateHub', :html => {:class => 'form-inline'} do
      = text_field_tag 'hubSearch', @searched != '' ? @searched : nil, :placeholder => 'enter a group or topic', :class => 'span3'
      = text_field_tag 'citySearch', nil, :placeholder => 'enter city', :class => 'span3'
      = text_field_tag 'stateSearch', nil, :placeholder => 'enter a state', :class => 'span1'
      = text_field_tag 'countrySearch', nil, :placeholder => 'enter a country', :class => 'span1'
      = text_field_tag 'globalSearch', nil, :placeholder => 'global', :class => 'span1'
      #fillMyLocation
        = button_tag 'Go', :class => 'btn btn-success btn-large pull-right'
        = link_to 'Fill in my existing location', '#', class: 'btn btn-primary pull-right'

  - if @searched != 'clear' and @searched != ''
    #searchResults
      = render partial: 'shared/proposals_table', locals: { proposals: @proposals, canCreate: user_signed_in?, showHub: false, tableTitle: @searched + ' Proposals' }
  
- if current_user && user_signed_in?
  #hpContent.span7
    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' }
            = link_to 'New Proposal', new_proposal_path, :class => 'btn btn-mini pull-right'
            My Proposals

      %tbody
        - @user_proposals.each do |proposal|
          %tr
            %td{ :width => '35%' }
              = proposal.hubs.first.name
            %td
              = items_count_badge(proposal.votes_count, 'Total Votes')
              .pos_statement= link_to proposal.statement, edit_proposal_path(proposal)

    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' } Active Proposals

      %tbody
        - @proposals.each do |proposal|
          %tr
            %td{ :width => '35%' }
              = 'In ' #+ proposal.hubs.first.name
              %br
              = 'By ' + proposal.user.name.to_s
            %td
              = items_count_badge(proposal.votes_count, 'Total Votes')
              .pos_statement= link_to proposal.statement, edit_proposal_path(proposal)

  #sidebar.span4.hide{:style => 'padding: 20px;'}
    %h2 New Hubs
    %div
      - @hubs.each do |hub|
        = link_to hub.name, hub_path(hub)
        %br

    %hr

    %h2 News from SV
    %div Blog content maybe? Definitely for marketing/service info for existing users.

    %hr

    %h2 @SpokenVote Tweets
    %div Last few tweets from the house account

- else
  #hpContent
    %table.listing
      %thead
        %tr
          %th.table-title{ :colspan => '2' } Active Hubs
        %tr
          %th Hub
          %th Most Active Proposal

      %tbody
        - @hubs.each do |hub|
          %tr
            %td= link_to hub.name, hub_path(hub)
            %td
              - if hub.proposals.count > 0
                = items_count_badge(hub.proposals.order(:votes_count).first.votes_count, 'Total Votes')
                = link_to hub.proposals.order(:votes_count).first.statement, hub_proposal_path(hub, hub.proposals.order(:votes_count).first)
              - else
                %em No proposals yet

  #sidebar.span4.hide
    .login_box
      .login_form
        %h3
          Sign in through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign in with SpokenVote
        = form_tag 'users/login' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          / - if devise_mapping.rememberable?
          /   = check_box_tag :remember_me
          /   = label_tag :remember_me
          %div= submit_tag "Sign in", :class => 'btn btn-primary'

    .login_box
      .login_form
        %h3
          Sign up through:
          = link_to image_tag('icons/providers/images/facebook_128.png'), user_omniauth_authorize_path(:facebook)

        %h3 Sign up
        %br
        = form_tag '/users' do
          %div
            = label_tag :email
            = email_field_tag :email
          %div
            = label_tag :password
            = password_field_tag :password
          %div
            = label_tag :password_confirmation
            = password_field_tag :password_confirmation
          %div= submit_tag "Sign up", :class => 'btn btn-primary'
