.content_page
  %h1 About SpokenVote
  
  %h2 What is SpokenVote?
  .content_div Spokenvote.org is a Web-based social consensus tool for groups of any size, from a local school board to an entire nation’s people, that radically enhances the group’s ability to reach consensus via an intuitive democratic process. Deeply inspired by Wikipedia, Spokenvote is an open-source, non-profit “spark” project that we hope will set off a cascade of change all the way through national politics.
  .content_div The central idea behind Spokenvote is to spontaneously capture people’s opinions and ideas as they naturally come up and then harness the power of crowds to turn those diverse views, opinions, and revelations into clear statements of consensus connected to large groups. Such a pivotal step is made possible by helping users organically adjust their own semantics (the way they phrased a vote), and as they make those adjustments, progress toward reaching a majority opinion together.

  %h2 Features
  %ul
    %li Fast and easy user entry of ideas to capture constructive input from a group of any size
    %li Intelligent prompting to guide users toward agreement and adoption of proposals by discovering where commonalities already exist
    %li Simple and elegant reporting back to the group to see where consensus stands at a glance
    %li Integration with Facebook and G+ to pull credentials and push user activity
    
  %h2 Contributing
  .content_div
    SpokenVote is an open source application 
    = link_to 'hosted on Github', 'http://github.com/railsforcharity/spokenvote', :target => 'blank'
    and we welcome participation from the community in building it. There are only a few simple guidelines we ask that you follow:
    
  %ul
    %li Use the 'fork and branch' workflow; that is, fork the master repo and do you work in small chunks in separate branches and when a piece is ready for inclusion in master send a pull request.
    %li
      Join the 
      = link_to 'SpokenVote', 'https://groups.google.com/forum/?fromgroups#!forum/railsforcharity-spokenvote', :target => 'blank'
      and
      = link_to 'SpokeVote-Design', 'https://groups.google.com/forum/?fromgroups#!forum/spokenvote-design', :target => 'blank'
      Google Groups to participate in discussions and keep up with the latest info.
    %li
      Create a
      = link_to 'Trello account', 'http://trello.com'
      &mdash;we use Trello to manage the project&mdash;and ask to be added to our
      = link_to 'Trello board', 'https://trello.com/board/spokenvote/50db1f1f9aaccd882d00272c'
      so you can make and accept tickets.