.login_providers
  .content_div
    .fb-button-container-centered
      = link_to fb_button, "https://www.facebook.com/dialog/oauth?client_id=138566025676&amp;redirect_uri=https%3A%2F%2Fwww.airbnb.com%2Fauthenticate&amp;scope=email%2Cuser_birthday%2Cuser_likes%2Cuser_education_history%2Cuser_hometown%2Cuser_interests%2Cuser_activities%2Cuser_location", data: {redirect_uri: "https://www.airbnb.com/authenticate", populate_uri: ""}, class: "fb-button "

%h3.or-separator or

.login_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), remote: isModal ) do |f|
    .control-group
      .controls
        = f.email_field :email, placeholder: 'Email address'
    .control-group
      .controls
        = f.password_field :password, placeholder: 'Password'
    - if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox
            = f.check_box :remember_me
            Remember me next time
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            #forgotLink
              = link_to "Forgot your password?", new_password_path(resource_name)
          = f.submit "Sign In", :class => 'btn btn-primary btn-bold'
