.login_providers
  .content_div
    .fb-button-container-centered
      = link_to fb_button('Log in'), user_omniauth_authorize_path(:facebook), class: "fb-button"

%h3.or-separator or

.login_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), remote: isModal ) do |f|
    .control-group
      .controls
        = f.email_field :email, placeholder: 'Email address'
    .control-group
      .controls
        = f.password_field :password, placeholder: 'Password'
    - if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox
            = f.check_box :remember_me
            Remember me next time
          - if devise_mapping.recoverable?
            #forgotLink= link_to "Forgot password?", new_password_path(resource_name)
            %br
    .control-group
      .controls
        = f.submit "Sign In", :class => 'btn btn-primary btn-bold'
