= nested_form_for @proposal, :html => {:class => 'form-horizontal'} do |f|
  - if @proposal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proposal.errors.count, "error")} prohibited this proposal from being saved:"
      %ul
        - @proposal.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.hidden_field :user_id, :value => current_user.id
    .control-group
      = f.label :statement, :class => 'control-label'
      .controls
        = f.text_field :statement, :class => 'input-xxlarge', placeholder: 'Enter only the statement of your proposal'

    .control-group
      = f.label :group, :class => 'control-label'
      .controls
        = f.select :hub_id, options_for_select(Hub.all.map{|h| [h.group_name + ' AT ' + h.formatted_location, h.id] })
        %span.help-block Please choose the word or phrase that best captures this proposal.

    = f.fields_for :votes, @vote do |vote_form|
      .control-group
        = vote_form.label :votes, 'Supporting Arguments', :class => 'control-label'
        .controls
          = vote_form.text_area :comment, :class => 'input-xxlarge supporting-args', placeholder: 'Enter your explanation and reasons why others should support your proposal'
        = vote_form.hidden_field :user_id, :value => current_user.id

    .control-group
      .controls
        = f.submit controller.action_name == 'new' ? 'Create' : 'Update', class: 'btn btn-primary btn-large btn-bold'
