= nested_form_for @proposal, :html => {:class => 'form-horizontal'} do |f|
  - if @proposal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proposal.errors.count, "error")} prohibited this proposal from being saved:"
      %ul
        - @proposal.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.hidden_field :user_id, :value => current_user.id
    .control-group
      = f.label :statement, :class => 'control-label'
      .controls
        = f.text_field :statement, :class => 'input-xxlarge'

    .control-group
      = f.fields_for :votes, @vote do |vote_form|
        = vote_form.label :hub, :class => 'control-label'
        .controls
          = vote_form.select :hub_id, options_for_select(Hub.all.map{|h| [h.name, h.id] }), :class => "span4"

        .clearfix

        .controls
          = vote_form.label :votes, 'Supporting Arguments', :class => 'control-label'
          = vote_form.text_area :comment, :class => 'input-xxlarge supporting-args'
          = vote_form.hidden_field :user_id, :value => current_user.id

    .control-group
      .controls
        = f.submit 'Save', class: 'btn btn-primary'
