.proposal_form.improve_form.clear.hide
  %h3 Edit the proposal to make it your own
  .content_editable
    = proposal.statement
  %br
  %label.first Why should others support your proposal
  = text_area_tag :vote_comment, nil, class: 'full-width'
  .proposal_fields.hide
    %label.first.span1 Hub
    = hidden_field_tag :proposal_group_name, nil, data: {location_input: '#proposal_location'}
    .clear
      %label.first.span1 Location
      = text_field_tag :proposal_location, proposal.hub.formatted_location, class: 'input-xxlarge gpSearchBox'

  .proposal_form_buttons
    = link_to 'Cancel', '#', :class => 'btn cancel'
    = link_to 'Save this improved proposal', '#', :class => 'btn btn-primary save_statement'
