.proposal_hub
  %h3
    Group:
    = proposal.hubs.first.group_name
    &ndash; Location: &lt;LOCATION NOT IN SCHEMA&gt;
    / = proposal.votes.first.location.name

.proposal_container(data-proposal-id="#{proposal.id}")
  .main-proposal
    - if user_signed_in?
      .content_editable.proposal_statement
        = proposal.statement

      = proposal_title(total_votes, proposal.user.name)

      .content_editable_buttons(style="display:none")
        = link_to 'Cancel', '#', :class => 'label cancel'
        = link_to 'Save this improved proposal', '#', :class => 'label save_statement'

      .improve_support_buttons
        = link_to 'Improve', '#', :class => 'btn btn-warning improve'
        = link_to 'Support', '#', 'data-function' => 'display_comment_form', 'data-proposal_id' => proposal.id, :class => 'btn btn-info support'
    - else
      .proposal_statement
        = proposal.statement

      = proposal_title(total_votes, proposal.user.name)

    - if total_votes > 0
      #totalVoteLabel
        %span.label.label-large.label-success.label-flat
          = total_votes.to_s + ' Total Votes'

  .supporting_arguments{:class => (total_votes < 0 ? 'related_supporting' : '')}
    %h3 Supporting Arguments
    .row
      .span11
        - proposal.votes[0..1].each_with_index do |vote, idx|
          = render :partial => 'proposal_vote', :locals => { :vote => vote, :idx => idx }

      .span1
        - if proposal.votes_count > 2
          - context = "page:#{params[:page_number].to_i}_proposal:#{proposal.id}"
          .more=link_to 'More...', proposal_path(:context => context)
