- unless related
  .proposal_hub
    #totalVoteLabel
      %span.label
        = total_votes.to_s + ' Vote' + (total_votes > 1 ? 's' : '') + ' on ' + (proposal.related_proposals.count + 1).to_s + ' Proposal' + (proposal.related_proposals.count > 0 ? 's' : '')
    %h2
      = proposal.hub.group_name
      &ndash;
      = proposal.hub.formatted_location


.proposal_container{data: {proposal_id: proposal.id, hub_id: proposal.hub.id}}
  .main-proposal
    - pct = 100.0*(proposal.votes.count.to_f/total_votes)
    - unless total_votes <= 0
      %div{:id => "big-percent"}
        = sprintf('%d%%',pct.round)
    .proposal_statement
      %h3= proposal.statement
    .proposal-person.span3{data: {vote_number: 1}}
      = render :partial => 'user_avatar', locals: { user: proposal.user, created_at: proposal.created_at }

      .improve_support_buttons
        .btn-group
          - if current_user && proposal.editable?(current_user)
            = link_to raw('<i class="icon-pencil"></i>'), '#', :class => 'btn btn-primary btn-bold edit', rel: 'popover', data: {title: 'Edit your proposal', content: 'Before any other votes are made for your proposal you may edit it.'}
            = link_to raw('<i class="icon-trash"></i>'), '#', :class => 'btn btn-danger delete', rel: 'popover', data: {title: 'Delete your proposal', content: 'You may delete your proposal before any other votes are made for it.'}
          - elsif current_user_voteable?(proposal)
            = link_to raw('<i class="icon-thumbs-up"></i>'), '#', :class => 'btn btn-disabled', disabled: true, rel: 'tooltip', title: 'No voting for your<br>own Proposal', data: {html: true}
            = link_to raw('<i class="icon-share-alt"></i>'), '#', :class => 'btn btn-warning improve', rel: 'popover', data: {title: 'Improve', content: 'Create a better version of this proposal'}
          - else
            = link_to raw('<i class="icon-thumbs-up"></i>'), '#', :class => 'btn btn-primary btn-bold support', rel: 'popover', data: {title: 'Support', content: 'Vote for this proposal'}
            = link_to raw('<i class="icon-share-alt"></i>'), '#', :class => 'btn btn-warning improve', rel: 'popover', data: {title: 'Improve', content: 'Create a better version of this proposal'}
          / UNTIL later = link_to 'Reuse', '#', :class => 'btn btn-info reuse'
      = render partial: 'shared/socialButtons', locals: {blockType: 'Check out this SpokenVote proposal: '}
    - unless proposal.votes.empty?
      .supporting_statement.span7{data: {vote_id: proposal.votes.first.id}}= raw proposal.supporting_statement

    - unless proposal.votes.empty?
      = render partial: 'improve_proposal_form', locals: {proposal: proposal, total_votes: total_votes}

  .supporting_arguments{:class => (total_votes < 0 ? 'related_supporting' : '')}
    - hasSupport = proposal.supporting_votes.count > 0
    %h3{class: hasSupport ? '' : 'hide' }
      Supporters
      %span= '(' + proposal.votes.count.to_s + ' votes)'
    .row
      .supporting_arguments_list.span11
        - if current_user
          = render partial: 'support_proposal_form', locals: {proposal: proposal, total_votes: total_votes}
        = render partial: 'proposal_vote', collection: proposal.supporting_votes.limit(2), as: :vote

        - if proposal.votes_count > 3
          .more=link_to 'More', proposal_path({page: 0, proposal: proposal.id}), class: 'btn'
