- if total_votes > 0
  .proposal_hub
    #totalVoteLabel
      %span.label
        = total_votes.to_s + ' Total Votes'
    %h2
      = proposal.hubs.first.group_name
      &ndash;
      = proposal.hubs.first.formatted_location


.proposal_container{data: {proposal_id: proposal.id, hub_id: proposal.hubs.first.id}}
  .main-proposal
    .proposal_statement
      %h3= proposal.statement
    .proposal-person.span3{data: {vote_number: 1}}
      .user-avatar
        %img{data: {src: "holder.js/30x30/social/text:avatar"}}
      = link_to proposal.user.name, proposals_path(user_id: proposal.user.id)
      .supported_date
        = proposal.created_at.to_s(:month_day_year)
    .supporting_statement.span7= proposal.supporting_statement

    = render partial: 'improve_proposal_form', locals: {proposal: proposal, total_votes: total_votes}

  .supporting_arguments{:class => (total_votes < 0 ? 'related_supporting' : '')}
    %h3
      Supporters
      %span= '(' + proposal.votes.count.to_s + ' votes)'
    .row
      .supporting_arguments_list.span11
        = render partial: 'support_proposal_form', locals: {proposal: proposal, total_votes: total_votes}
        = render partial: 'proposal_vote', collection: proposal.supporting_votes.limit(2), as: :vote

      .span1
        - if proposal.votes_count > 2
          .more=link_to 'More...', proposal_path({page: 0, proposal: proposal.id})
