.proposal_hub
  %h3
    Topic:
    = proposal.hubs.first.group
    &ndash; Location: 
    = proposal.hubs.first.location.name

.proposal_container(data-proposal-id="#{proposal.id}")
  .main-proposal
    - if user_signed_in?
      = render partial: 'proposal_form', locals: {proposal: proposal, total_votes: total_votes}

    - else
      .proposal_statement
        = proposal.statement

      = proposal_title(total_votes, proposal.user.name)

    - if total_votes > 0
      #totalVoteLabel.clear
        %span.label.label-large.label-success.label-flat
          = total_votes.to_s + ' Total Votes'

  .supporting_arguments{:class => (total_votes < 0 ? 'related_supporting' : '')}
    %h3 Supporting Arguments
    .row
      .span11
        - proposal.votes[0..1].each_with_index do |vote, idx|
          = render :partial => 'proposal_vote', :locals => { :vote => vote, :idx => idx }

      .span1
        - if proposal.votes_count > 2
          - context = "page:#{params[:page_number].to_i}_proposal:#{proposal.id}"
          .more=link_to 'More...', proposal_path(:context => context)
