- if total_votes > 0
  .proposal_hub
    #totalVoteLabel
      %span.label
        = total_votes.to_s + ' Total Votes'
    %h2
      = proposal.hub.group_name
      &ndash;
      = proposal.hub.formatted_location

.proposal_container{data: {proposal_id: proposal.id, hub_id: proposal.hub.id}}
  .main-proposal
    .proposal_statement
      %h3= proposal.statement
    .proposal-person.span3{data: {vote_number: 1}}
      .user-avatar
        %img{data: {src: "holder.js/30x30/social/text:avatar"}}
      = link_to proposal.user.name, proposals_path(user_id: proposal.user.id)
      .supported_date
        = proposal.created_at.to_s(:month_day_year)
      .improve_support_buttons.btn-group
        = link_to 'Support', '#', :class => 'btn btn-primary btn-bold support'
        = link_to 'Improve', '#', :class => 'btn btn-warning improve'
        -#= link_to 'Reuse', '#', :class => 'btn btn-info reuse'
    .supporting_statement.span7= raw proposal.supporting_statement

    = render partial: 'improve_proposal_form', locals: {proposal: proposal, total_votes: total_votes}

  = render :partial => 'supporting_arguments', locals: {proposal: proposal, total_votes: total_votes}