.support_container.span11.hide
  .proposal-person.span3
    = render :partial => 'user_avatar', locals: { user: current_user, created_at: Date.today }
    = render partial: 'shared/socialButtons', locals: { blockType: "I'm supporting " }

  .proposal_form.support_form.span7
    %h3 Tell us why you're supporting this proposal
    .vote_comment
      = text_area_tag :vote_comment, nil, class: 'full-width'
    .proposal_form_buttons
      = link_to 'Cancel', '#', :class => 'btn cancel'
      = link_to 'Vote for this proposal', '#', :class => 'btn btn-primary save_vote'
