appConfig = ($routeProvider, $locationProvider, $httpProvider, $dialogProvider) ->
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')
  $locationProvider.html5Mode true

  $routeProvider
    .when '/',
      templateUrl: "<%= asset_path('pages/landing.html.haml') %>"

    .when '/admin/authentications',
      controller: 'RootCtrl'

    .when '/landing',
      templateUrl: "<%= asset_path('pages/landing.html.haml') %>"
      controller: 'RootCtrl'

    .when '/proposals',
      templateUrl: "<%= asset_path('proposals/index.html.haml') %>"
      controller: 'ProposalListCtrl'
      resolve:
        proposals: (MultiProposalLoader) ->
          MultiProposalLoader()

    .when '/proposals/:proposalId',
      templateUrl: "<%= asset_path('proposals/show.html.haml') %>"
      controller: 'ProposalShowCtrl'
      resolve:
        proposal: (ProposalLoader) ->
          ProposalLoader()
        relatedProposals: (RelatedProposalsLoader) ->
          RelatedProposalsLoader()

    .when '/currentuser',
      resolve:
        currentuser: (CurrentUserLoader) ->
          CurrentUserLoader()

    .when '/about',
      templateUrl: "<%= asset_path('pages/about.html.haml') %>"

    .when '/terms-of-use',
      templateUrl: "<%= asset_path('pages/terms-of-use.html.haml') %>"

    .when '/privacy',
      templateUrl: "<%= asset_path('pages/privacy.html.haml') %>"

    .otherwise
      template: '<h3>Whoops, page not found</h3>'

  $dialogProvider.options =
    backdrop: false
    dialogClass: 'modal'
    backdropClass: 'modal-backdrop'
    transitionClass: 'fade'
    triggerClass: 'modal-open'
    backdropFade: false
    dialogFade: true
    keyboard: true
    backdropClick: true

  jQuery ->
    $('body').prepend('<div id="fb-root"></div>')

    $.ajax
      url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
      dataType: 'script'
      cache: true

  window.fbAsyncInit = ->
    FB.init
      appId: '<%= ENV["FB_APP_ID"] %>'
#      appId: "449408378433518"  # Use this ID for local testing
      cookie: true
      status: true
      xfbml: true

window.App = angular.module('spokenvote', [ 'spokenvote.services', 'spokenvote.directives', '$strap.directives', 'ui', 'ui.bootstrap' ]).config(appConfig)


servicesConfig = ($httpProvider) ->
  $httpProvider.responseInterceptors.push('errorHttpInterceptor')
App.Services = angular.module('spokenvote.services', ['ngResource', 'ngCookies']).config(servicesConfig).run(($rootScope, $location) -> $rootScope.location = $location)
App.Directives = angular.module('spokenvote.directives', [])

# Injects
appConfig.$inject = ['$routeProvider', '$locationProvider', '$httpProvider', '$dialogProvider' ]
servicesConfig.$inject = ['$httpProvider']