setupApp = (routeProvider, locationProvider, httpProvider) ->
  httpProvider.defaults.headers.post['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')
  locationProvider.html5Mode true

  routeProvider
    .when '/',
      templateUrl: "<%= asset_path('landing.html.haml') %>"
      controller: 'DashboardCtrl'

    .when '/newgroup',
#      templateUrl: "<%= asset_path('hubs/new.html.haml') %>"
      controller: 'HubsCtrl'
      resolve:
        loadModal: -> angular.element("#hubModal").modal("show")

    .when '/hubs',
      templateUrl: "/hubs"

    .when '/proposals',
      templateUrl: "<%= asset_path('proposals/index.html.haml') %>"
      controller: 'ProposalListCtrl'
      resolve:
        proposals: (MultiProposalLoader) ->
          MultiProposalLoader()
        current_user: (CurrentUserLoader) ->
          CurrentUserLoader()

    .when '/proposals/:proposalId',
      templateUrl: "<%= asset_path('proposals/show.html.haml') %>"
      controller: 'ProposalViewCtrl'
      resolve:
        proposal: (ProposalLoader) ->
          ProposalLoader()
        current_user: (CurrentUserLoader) ->
          CurrentUserLoader()
        related_proposals: (RelatedProposalsLoader) ->
          RelatedProposalsLoader()

    .when '/currentuser',
      resolve:
        proposals: (CurrentUserLoader) ->
          CurrentUserLoader()

    .otherwise
      template: '<h3>Whoops, page not found</h3>'

setupApp.$inject = ['$routeProvider', '$locationProvider', '$httpProvider']
window.angularApp = angular.module('spokenvote', ['spokenvote.services', 'spokenvote.directives', '$strap.directives', 'ui']).config(setupApp)

services = angular.module('spokenvote.services', ['ngResource', 'ngCookies'])

services.factory "SessionSettings", ->
  defaultGravatar: 'http://www.spokenvote.com/' + "<%= DEFAULT_AVATAR_URL %>"
