.content_page
  %h1  SpokenVote Development

  %h2 Welcome
  .content_div First of all, thank you for your interest in Spokenvote. It is our sincere desire that your participation in this project turns out to be not only meaningful and inspiring, but also a great deal of fun. Welcome aboard!

  %h2 Contributing
  .content_div
    SpokenVote is an open source application developed under the MIT or the GNU GPLv2 or later licenses and is available for free distribution on
    = link_to 'Github.', 'http://github.com/railsforcharity/spokenvote', :target => 'blank'
    We welcome your participation in building this tool for all of of humanity. Here are a few simple guidelines we have found helpful in the collaboration process:

  .content_page
    %h4 Get in the Loop
    Join the
    = link_to 'SpokenVote Development', 'https://groups.google.com/forum/?fromgroups#!forum/railsforcharity-spokenvote', :target => 'blank'
    and
    = link_to 'SpokenVote Design', 'https://groups.google.com/forum/?fromgroups#!forum/spokenvote-design', :target => 'blank'
    Google Groups to participate in discussions and keep up with the latest developments. If you will be writing code, you will want to join the  Development list. If you are only concerned with design elements or the core functional logic of the system, join the Design list. If you are like most of us and are interested in both, by all means join both list.
    %p
    %h4 Claim Tasks
    First get a free account on
    = link_to 'Trello', 'http://trello.com', :target => 'blank'
    where we manage the project tasks. Then ask to be added to our
    = link_to 'Trello board', 'https://trello.com/board/spokenvote/50db1f1f9aaccd882d00272c', :target => 'blank'
    so you can see,  make and accept work tickets. The Trello board is where you can find detailed information about how you might be able to contribute, what is essential to our forward progress, and the detailed requirements of each element that needs to be built. The next important piece of Spokenvote might come from you. Here is where you can find out about the next bite-sized piece the project needs.
    %p
    %h4 Git-style Fork and Branch Workflow
    We use the Git-style <i>"fork and branch"</i> workflow. So first you will want to <i>fork</i> the
    = link_to 'master repository,', 'http://github.com/railsforcharity/spokenvote', :target => 'blank'
    using the fork option in the upper right of the main Github code screen. We have found it best to work in small chunks, using your own separate branches within your own repository. When a piece of code is ready for inclusion in the master project, just send a pull request using that option on your Github repository screen. Be sure to read the readme file in the repository for detailed information on setting up your Rails environment, a local database and so forth.



  %h2 Come Hack with Us
  .content_div
    If you live near or are visiting the Bay Area, please come join our weekly coding sessions. As of early 2013 we are meeting regularly at
    = link_to 'Hacker Dojo,', 'www.hackerdojo.com/', :target => 'blank'
    in Mountain View, CA on Wednesday evenings as a shared development effort with
    = link_to 'Rails for Charity.', 'http://railsforcharity.org/', :target => 'blank'
    We usually gather from 6:30 to 9:30 to discuss the project, write code, and  typically order in some pizza to share. Be sure to check the
    = link_to 'Meetup site', 'http://www.meetup.com/Rails-for-Charity/', :target => 'blank'
    for up-to-date times and location.