= form_for @hubs_position do |f|
  - if @hubs_position.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hubs_position.errors.count, "error")} prohibited this hubs_position from being saved:"
      %ul
        - @hubs_position.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
