%h1 Listing votes

%table
  %tr
    %th Position
    %th Comment
    %th User
    %th
    %th
    %th

  - @votes.each do |vote|
    %tr
      %td= vote.position_id
      %td= vote.comment
      %td= vote.user_id
      %td= link_to 'Show', vote
      %td= link_to 'Edit', edit_vote_path(vote)
      %td= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Vote', new_vote_path
