!!!
%html(ng-app="spokenvote")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title= content_for?(:title) ? yield(:title) : "SpokenVote"
    %meta(content="" name="description")
    %meta(content="" name="author")
    = favicon_link_tag
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Offside|Megrim|Audiowide'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    -#Trying to use the Google CDN, but not quite getting load order right
    -#%script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    %script(src="//mgcrea.github.com/angular-strap/js/angular-strap.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")

    = csrf_meta_tags
    = yield(:head)
  %body( ng-controller='RootCtrl' )
    = render 'shared/navigation'
    #main(role="main")
      .container
        .content
          .row
            #alertContainer
              %div(alert-bar alertmessage='errorService.errorMessage')
              = render 'shared/messages'
            #mainContent
              %ng-view
    = render 'shared/footer'
    = render partial: '/shared/loginModal'
    = render partial: '/shared/registrationModal'
    = render partial: '/shared/confirmationModal'
    -#= render partial: '/shared/hubModal'
