!!!
%html( ng-app="spokenvote" )
  %head
    %meta( name="fragment" content="!" )
    %meta( charset="utf-8" )
    %meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
    %meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
    %title= content_for?(:title) ? yield(:title) : "SpokenVote"
    %meta( content="" name="description" )
    %meta( content="" name="author" )
    %meta( name='viewport' content="width=device-width, initial-scale=1.0" )

    = favicon_link_tag
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Offside|Megrim|Audiowide|Yanone+Kaffeesatz', rel: 'stylesheet', type: 'text/css'
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: 'stylesheet'
    = stylesheet_link_tag "application", :media => "all"
    -#= stylesheet_link_tag 'assets/css/bootstrap-responsive.css', rel:'stylesheet'

    = csrf_meta_tags

    = yield(:head)

  %body( ng-controller='RootCtrl' )
    %ng-include(src="'/assets/shared/_navigation.html'")

    #main( role="main" )
      .container-fluid
        -#.content
          .row
        #mainContent
          #alertContainer
            .pageAlert( alert-bar alertmessageclear='alertService.alertClass' ng-hide='alertService.alertDestination=="modal"' )
          %ng-view

    - min = Rails.env.production? ? '.min' : ''
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery#{min}.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2#{min}.js"
    = javascript_include_tag "//code.angularjs.org/1.2.9/angular#{min}.js"
    = javascript_include_tag "//code.angularjs.org/1.2.9/angular-resource#{min}.js"
    = javascript_include_tag "//code.angularjs.org/1.2.9/angular-route#{min}.js"
    = javascript_include_tag "//code.angularjs.org/1.2.9/angular-mocks#{min}.js" if Rails.env.development?
    = javascript_include_tag "//code.angularjs.org/1.2.9/angular-cookies#{min}.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls#{min}.js"
    -#= javascript_include_tag '//rawgithub.com/mgcrea/angular-strap/master/dist/angular-strap.min.js'
    -#= javascript_include_tag '//rawgithub.com/mgcrea/angular-strap/master/dist/angular-strap.tpl.min.js'
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
    -#= javascript_include_tag "https://apis.google.com/js/client.js?onload=load"   # for Google Auth2
    = javascript_include_tag "application"