!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title= content_for?(:title) ? yield(:title) : "SpokenVote"
    %meta(content="" name="description")
    %meta(content="" name="author")
    = favicon_link_tag
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Offside|Megrim|Audiowide'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")

    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'shared/navigation'
    #main(role="main")
      .container
        .content
          .row
            #mainContent.span12
              = render 'shared/messages'
              = yield
    = render 'shared/footer'
    = render partial: '/shared/loginModal'
    = render partial: '/shared/registrationModal'
    = render partial: '/shared/confirmationModal'
    = render partial: '/shared/hubModal'
